<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You are on right place</title>
</head>
<body>

    <%- include('partials/header') %>
    
    <h1>About Captain Jack Sparrow</h1>
    <p><%= aboutContent %> </p>

    <%- include('partials/footer') %> 
    
</body>
</html>